VITE_SUPABASE_URL=https://jehknguwrypfzftvnaqz.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_IPjminFadxHXIvbxVlN-qA_89Icdeax
VITE_VAPID_PUBLIC_KEY=BM_8fycM9bmDP3tAop2hKchczRXqK2pZGiiyIGfnP5nEPSJpWv0pC-Itp2QNrXzGBA88zpLR1VjrmTEv2jihaJk
